/* .header {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    overflow: hidden;
  } */

.headerTest {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.flex-expand {
  flex: 1 1 auto;
}
.row {
  display: flex;
  justify-content: center; align-items: center;
}

.brand {
  display: flex;
  font-size: 22px;
  font-weight: 500;
}

app-header {
  width: 100%;
}
