
<section class="login">
<nb-card size="tiny">

    <form #f="ngForm" (ngSubmit)="onSubmitLogin(f)" class="form">
        <input
          nbInput
          type="email"
          placeholder="Email"
          required
          ngModel
          name="email"
          email
          class="input"
          id="email"
        />
        <span class="error-text" *ngIf="f.controls.email.invalid && f.controls.email.touched">Email is invalid</span>
        <input
        nbInput
          type="password"
          placeholder="Password"
          required
          ngModel
          name="password"
          class="input"
        />
        <span class="error-text" *ngIf="f.controls.password.invalid && f.controls.password.touched">Password is invalid</span>
      <button nbButton status="primary" type="submit" [disabled]="f.invalid" (click)="onSubmitLogin(f)">Login</button>
      <span class="error-text" *ngIf="this.authError">Error login: {{ errorMessage }}</span>
    </form>
</nb-card>
</section>
